# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# C++ build products, cythonized files, data files
cpp/bin/
cpp/obj/
cpp/*.mps.gz
cpp/lp_generators_ext.cpp
scripts/data/
scripts/result_figures
examples/generated/
examples/search/

# Notebooks
.ipynb_checkpoints/
